.foot-container {

}

.bottom-space {
  background-color: bisque;
  width: 100%;
}

.blank-space {
  height: 150px;
  width: 100%;
}

.collab {
  display: flex;
  position: relative;
  top: -55px;
  border-radius: 10px;
  background-color: aquamarine;
}

.collab > * {
  display: flex;
  padding: 45px;
}

.proj-title {
  font-size: larger;
  font-weight: 500;
  text-align: center;
}

.collab-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

#chat {
  margin-right: 2px;
}

.button-c {
  border: 1px solid red;
  padding: 5px;
  border-radius: 10px;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts > * {
  margin: 10px;
}

.cont-bb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

#bottom-img {
  width: 150px;
}